---
layout: layouts/default-fixed.njk
---
<div class="prose dark:prose-invert prose-slate mx-auto lg:prose-lg mt-24">
	
	
	<iconify-icon icon="tabler:clock"></iconify-icon> 
	<time datetime={String(post.publishDate)}>{{ publishDate| readableDate }}</time>
	<h1>{{ title }}</h1>

	<p class="lead">{{ lead }}</p>

	<img alt="Lorem ipsum dolor sit amet" src="/@astroimage/assets/images/blogs/4runner-Art.png?f=png&amp;w=900&amp;h=506&amp;ar=1.7777777777777777&amp;href=%2F%40astroimage%2Fassets%2Fimages%2Fblogs%2F4runner-Art.png" loading="eager" decoding="async" class="max-w-full mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700" width="900" height="506">

	{{ content | safe }}
	
	<ul class="post-metadata">
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
		{%- endfor %}
	</ul>

	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<ul class="links-nextprev">
		{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
		{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
	{%- endif %}


	
</div>
