---
layout: layouts/base.njk
---

<div class="cover" style="background: url('assets/img/about.jpg') center;">
  <div><!-- header -->
  
		Hero Header
  
  </div>
  <h1>Toyota Jamboree </h1>
  <div>Learn More</div>
</div>








<div style="height: 200vh">
	tes
</div>





{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
