---
layout: layouts/base.njk
---



<site-footer></site-footer>
{# 
{%- from "partials/components.njk" import card -%} #}

{% import "partials/components.njk" as c %}
{{ c.card('My Module test', 'Lorem ipsum whatever.') }}


<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

{{ c.btn('My Module test') }}
