
{# <header> #}
    {# <div id="navigation">
    <!-- Navigation Menu-->
        <ul class="navigation-menu nav-right nav-light">
            <li><a href="/about" class="sub-menu-item">About</a></li>
            <li><a href="/events" class="sub-menu-item">Events</a></li>
            <li><a href="/media" class="sub-menu-item">Media</a></li>
            <li><a href="/guide" class="sub-menu-item">Jambo Guide</a></li>
            <li><a href="/help" class="sub-menu-item">Help</a></li>
        </ul><!--end navigation menu-->
    </div><!--end navigation--> #}
{# 
</header> #}
<nav class="navbar sticky-top navbar-expand-lg bg-light" id="topnav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Toyota Jamboree</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search"> 
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
